@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");

html,
body {
  min-height: 100%;
  font-family: Rubik, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23f2f2f2' fill-opacity='0.65' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}

#content-wrapper {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#content {
  width: 50%;
  text-align: center;
  line-height: 1.5em;
  font-size: 1rem;
}

.ubi-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ubi-container > div {
  flex-grow: 1;
  margin: 0 1rem;
}

.ubi-container-centered {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h1.title {
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
}

p {
  font-weight: normal;
  letter-spacing: 0.05em;
  margin-bottom: 1rem;
}

#form-wrapper {
  margin: 3rem auto 0 auto;
  text-align: left;
}

.code-wrapper {
  text-align: left;
  margin: 2rem 0;
}

pre {
  display: block;
  width: 100%;
  white-space: pre-wrap;
  background-color: hsla(0, 0%, 90%, 0.3);
  margin: 2rem 0;
  padding: 0 2rem;
  border-radius: 1rem;
  text-align: left;
}

form {
  font-size: 1.2rem;
}

label,
button {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.ubi-notify-select-wrapper,
.control {
  margin: 0 auto 2rem auto;
}

.custom-select {
  width: 100%;
}

.ui.form select.semui {
  display: block;
  padding: 0.6em 1.4em 0.5em 0.8em;
  height: inherit;
  line-height: 1.3;
  box-sizing: border-box;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  letter-spacing: 0.1em;
}

select.ubi-notify-select {
  display: block;
  font-size: 0.9rem;
  font-family: sans-serif;
  font-weight: normal;
  color: #444;
  line-height: 1.1;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0.4rem 0 0 0;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  letter-spacing: 0.1em;
}

button.ubi-notify-button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background-color: #aaa;
  border-radius: 0.5em;
  cursor: pointer;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, no-repeat;
  letter-spacing: 0.12em;
}

.ubi-notify-bulma.notification {
  padding: 0.7rem;
  font-size: 1rem;
  margin: 1rem;

  .title {
    font-size: 0.9em;
    margin: 0;
  }

  .content {
    font-size: 0.8em;
    line-height: 1.3em;
    margin-top: 0.2rem;
    margin-bottom: 0;
  }
}

.ubi-notify-bootstrap.toast {
  line-height: 1;
  font-size: 0.9rem;
  margin: 1rem;

  .toast-header {
    font-size: 1em;
    margin-bottom: 0;
  }

  .toast-body {
    font-size: 0.9em;
    line-height: 1.4em;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
}

.ubi-notify-materialize.toast {
  line-height: 1;
  font-size: 1rem;
  margin: 1rem;
  padding: 0.7rem;

  .toast-header {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }

  .toast-content {
    font-size: 0.9em;
    line-height: 1.4em;
  }
}

.ubi-notify-semantic-ui {
  margin: 1rem;
  .message {
    padding-left: 1rem;

    .header {
      margin-bottom: 0.3rem;
    }

    .content {
    }
  }
}
